# 7 - Quiz practico de codigo limpio y modular
En este ejercicio, se debe refactorizar el código que analiza un conjunto de datos de absentismo en el trabajo aqui. Cada fila contiene datos sobre una muestra de absentismo.

El código de este cuaderno primero cambia el nombre de las columnas del conjunto de datos.

¿Puede refactorizar este código para hacerlo más limpio y modular?

In [1]:
#Read source data and print a few records to know a bit of the content.

import pandas as pd
df = pd.read_csv('Absenteeism_at_work.csv', sep=',')
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

# 7.1 - Renombrando columnas
El objetivo es convertir las columnas en minúsculas y reemplazar los espacios en blanco o caracteres extraños en las etiquetas de las columnas con guiones bajos.

In [3]:
#Obtains the column names from the dataframe and prints the list

aux_colnames = list(df.columns)
aux_colnames

['ID',
 'Reason for absence',
 'Month of absence',
 'Day of the week',
 'Seasons',
 'Transportation expense',
 'Distance from Residence to Work',
 'Service time',
 'Age',
 'Work load Average/day ',
 'Hit target',
 'Disciplinary failure',
 'Education',
 'Son',
 'Social drinker',
 'Social smoker',
 'Pet',
 'Weight',
 'Height',
 'Body mass index',
 'Absenteeism time in hours']

In [10]:
#Using list comprehension turns every column name to lower case, 
#   and replaces all white spaces (' ') with underscore ('_').
#   Important: It does not take in count any special character existing in column names.

aux_colnames = list([ col_name.replace(' ', '_').lower() for col_name in aux_colnames ])
aux_colnames

['id',
 'reason_for_absence',
 'month_of_absence',
 'day_of_the_week',
 'seasons',
 'transportation_expense',
 'distance_from_residence_to_work',
 'service_time',
 'age',
 'work_load_average/day_',
 'hit_target',
 'disciplinary_failure',
 'education',
 'son',
 'social_drinker',
 'social_smoker',
 'pet',
 'weight',
 'height',
 'body_mass_index',
 'absenteeism_time_in_hours']

In [11]:
#Finally, rename all column names in the dataframe using the list with renamed columns,
#   and print first 5 records to verify column names are now lower case and no white spaces.

df.columns = aux_colnames
df.head()

,id,reason_for_absence,month_of_absence,day_of_the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load_average/day_,...,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index,absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2